
.header_outer_container {
  position: sticky;
  top: 0;
  display: flex;
   /* background-color: rgb(148,132,132); */
  align-items: center;
  background-color: rgb(20, 20, 20);
  background-color: transparent;
  height: 10vh;
  color: white;
  transition: all, 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  /* background-color: rgb(224, 51, 51); */
}
 .header_container  {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul{
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header_right ul{
   display: flex;
   list-style-type: none;
   align-items: center;
   justify-content: center;
}
 

  
